@model  ManagementTool.Common.projectmodel
@{
    ViewBag.Title = "Add New Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<div class="row">

    <div class="col-lg-10 col-lg-offset-1">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Add new Project</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="table-responsive" >
                @using (Html.BeginForm("Save", "Projects", FormMethod.Post, new { id = "frmMain" }))
                {
                    @Html.AntiForgeryToken();

                    <!-- / Project Name -->
                    <div class="form-group">
                        <label class="col-lg-2 control-label">New Project Name</label>
                        <div class="col-lg-10">                            
                            <input id="txtprojectName" name="txtprojectName" type="text" placeholder="Project Name" class="form-control m-b">                            
                        </div>
                    </div>

                    <!-- / Location -->
                    <div class="form-group">                        
                        <label class="col-lg-2 control-label">Select Location</label>
                        <div class="col-lg-10">
                            @Html.DropDownList("selLocation", Model.Location as IEnumerable<SelectListItem>, "Select Location", new { @class = "form-control m-b" })
                        </div>
                    </div>

                    <!-- / Company -->
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Select Company</label>
                        <div class="col-lg-10">
                            @Html.DropDownList("selCompany", Model.Company as IEnumerable<SelectListItem>, "Select Company", new { @class = "form-control m-b" })
                        </div>
                    </div>

                    <!-- / Division -->
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Select Division</label>
                        <div class="col-lg-10">
                            @Html.DropDownList("selDivision", Model.Division as IEnumerable<SelectListItem>, "Select Division", new { @class = "form-control m-b" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-12">
                            <button class="btn btn-sm btn-primary pull-left m-t-n-xs" type="submit">
                            <strong>Save</strong>
                            </button>

                        </div>
                    </div>
                }
                </div>
            </div>
        </div>
    </div>


</div>


<script type="text/javascript">

    function FillCompany(obj) {
        var sel = obj.options[obj.selectedIndex].value;
        if (sel == "") { return; }

        var postedContent = { SelectedLocation: sel }
        $.ajax({
            type: "POST",
            url: "/Project/GetCompaniesbyLocation",
            data: postedContent,
            success: function (message) {
                var res = message.data;
                if (res.length > 0) {
                    $("#selCompany").empty()
                    for (var i = 0; i < message.data.length; i++) {
                        $('#selCompany').append($('<option>', { value: message.data[i].CompanyId, text: message.data[i].CompanyName }));
                    } // end of for loop
                } // end of if for length
            },
            error: function (xerr) {
                /* $('#txteng').val("err : " +xerr);*/
            }
        });

    }

    $(document).ready(
        function () {
            $("#frmMain").validate({
                rules: {
                    txtprojectName  : {
                        minlength: 3,
                        maxlength: 250,
                        required: true
                    },
                    selLocation     : {
                        required: true
                    },
                    selCompany      : {
                        required: true
                    },
                    selDivision     : {
                        required: true
                    },
                },

                highlight: function (element) {
                    $(element).closest('.control-group').addClass('has-error');
                },

                unhighlight: function (element) {
                    $(element).closest('.control-group').removeClass('has-error');
                },

                submitHandler: function (form) { // for demo
                    form.submit();
                    return false;
                }
            });
        });
</script>